.card{
    display:flex;
<<<<<<< HEAD
    align-items: center;
=======
    flex-direction: column;
    align-items: flex-start;
>>>>>>> 320174bc4113f1d2fa471f1f271e6ac5d5bec358
    justify-content: space-between;
    background-image: radial-gradient(center, rgba($color-red-light, .5), 
    rgba($color-red-dark, 1));;

    padding: 1rem;
    border: solid 2px $color-red-dark;
    border-radius: 3rem;
    color: rgba(255, 255, 255, 0.7);
<<<<<<< HEAD
    margin-bottom: .2rem;
    text-shadow: .3rem .2rem $color-red-dark;

    &__title{
        margin: .2rem;

    }

    &__id{
     visibility: hidden;
     font-size: .2rem
    }
 

    &__btn{
        margin-right: 2rem;
=======
    margin-bottom: .5rem;
    text-shadow: .3rem .2rem $color-red-dark;
    margin: .8rem;
    
   
    &__title{
        display: flex;
        margin: 1rem;

    }
    &__position{
        align-self: center;
    }

    

    &__btn{
        align-self: center;
>>>>>>> 320174bc4113f1d2fa471f1f271e6ac5d5bec358
        background:    $color-red-dark;
        border-radius: 5px;
        padding:       .8rem;
        color:         #ffffff;
        text-shadow:   1px 1px #000000;
        cursor: pointer;
    }

}

