.card{
    display:flex;
    justify-content: center;
    background-image: radial-gradient(center, rgba($color-red-light, .5), 
    rgba($color-red-dark, 1));;
    cursor: pointer;
    transition: all 0.2s ease-in;

    padding: 1rem;
    border: solid 2px $color-grey-dark-2;
    border-radius: 3rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: .2rem;
    text-shadow: .3rem .2rem $color-red-dark;

    &__title{
        text-align: center;
        margin: .2rem;
    }

    // &__id{
    //  visibility: hidden;
    //  font-size: .2rem
    // }

    &:hover{
        transform: scale(1.1);
        box-shadow: 0 .4rem 1.8rem rgba(255, 255, 255, 0.7);
    }

}

