.landing{
    grid-row: 2 / 3;
    grid-column: 1/ -1;
    display: flex;
    justify-content: center;




    // background-image: radial-gradient(center, rgba($color-red-light, .5), 
    // rgba($color-red-dark, 1));;
    padding: 3rem;
    // border: solid 2px $color-red-dark;
    border-radius: 3rem;
    


    &__card{

        height: 40rem;
        width: 30rem;
        background-image: radial-gradient(center, rgba($color-red-light, .5), 
        rgba($color-red-dark, 1));;
        padding: 3rem;
        border: solid 2px $color-red-dark;
        border-radius: 3rem;
        margin: 5rem;
        

    
    }


}