.library{
    grid-area: tech;
    background-image: radial-gradient(rgba($color-red-light, .5), 
        rgba($color-red-dark, 1));;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin: 0 30rem;


    @media only screen and (max-width: $bp-medium){
        margin: 0 2rem;
    }

&__title{
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
    padding: 3rem;
}

&__list{
    padding: 5rem 3rem;
    
}

&__item{
    padding: 2rem;
    font-size: 3rem;
   list-style: none;
    
}

&__link,
&__link:link,
&__link:active{

    text-decoration: none;
    color: #fff;
    transition: all .5s;
                    
    &:hover{
    color: $color-grey-dark-2;
    text-shadow: .5px .5px #fff;

                        }
}

}
