.techPage{
    grid-area: tech;
    
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aquamarine;
    margin: 3rem 0;
    
    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
        margin: 4rem;
    }
    
    @media only screen and (max-width: $bp-medium){
        margin: 0;
    }

}

.scroll{
    overflow: auto;
    border: none;
    height: 50vh;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    @media only screen and (max-width: $bp-large){
        height: 50vh;
    }

}